.list-page{
    margin: 1rem;
}

.form-container [class*="col"] {
    width: 100%;
    box-sizing: border-box;
}


.img-gallery{
   display: flex;
   flex-wrap: wrap;
   //align-content: flex-start; //mystery

   //gap: 1rem;
}

.info-col{
    width:100%;
    box-sizing: border-box;
}

//aspect ratio
.img-cont{
    position: relative;

    padding-top: calc(100%/3);
    width: calc(100%/3);
    height:0;

    

    //padding for the image to go inside
    //padding instead of margin for box-sizing
   .inner-cont{
        width: 100%;
        height: 100%;
        
        
        box-sizing: border-box;
        padding: 0.5rem;

        position: absolute;
        top:0;

   }

    //background
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        //margin: 0.5rem;
        
    }

    .img-placeholder{
        width: 100%;
        height: 100%;

        border: 1px dashed var(--highlight-color);

    }
}

.subheader-desc{
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
}

.add-img-cont{
    width: 100%;
    height: 100%;
    //background-color: var(--mid-color);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px dashed var(--highlight-color);
   
    .img-upload{
        cursor: pointer;
        padding: .5em 0.625em;
        
        border-radius: 50%;

        //background-color: white;
    }

    input{
       display: none;
    }
}

//background
//this element currently not in use
.placeholder{
    width: 100%;
    height: 100%;
    background-color: var(--mid-color);

    display: flex;
    align-items: center;
    justify-content: center;
   
    .img-upload{
        cursor: pointer;
        padding: .5em 0.625em;
        
        border-radius: 50%;

        background-color: white;
    }

    input{
       display: none;
    }
}

@media only screen and (min-width: 768px) { //min-width is smallest width allowed
    .form-container{
        display: flex;
        .img-cont{
            padding-top: 50%;
            width: 50%;
    
        }

        .info-col{
            padding-left: 1rem;
        }
    }
}

@media only screen and (min-width: 992px) {
    .form-container{
        .img-cont{
            padding-top: calc(100%/3);
            width: calc(100%/3);
    
        }
    }
    
}


.info-col{
    input, 
    textarea{
        box-sizing: border-box;
        border: none;
        width: 100%;

        border: 1px dashed blue;

        //background-color: var(--mid-color);
    }

    .info-cont{
        display: flex;
        box-sizing: border-box;
        margin: 0.5rem 0;

        .info-cont-desc{
            width: 25%;
            box-sizing: border-box;
            padding-right: 1rem;
        }
    }
   
}



.in-price-label{
    display: flex;
    align-items: center;  
    padding-inline-end: 0.25rem;
}

.in-description{
 
    resize: none;

    height: 10rem;
    overflow: hidden;
    
}



/*color*/
.color-selector{
    display:flex;
    align-items: center;
    background-color: white;
}

// .color-selector div {
//     padding: 0px;
//     margin:4px;
//     background-color: grey;
// }

.color-selector input:checked ~ span{
    border: 4px solid lightgrey;
}


.color-selector label{
    position: relative;
    display:block;
}


.color-selector input[type=radio] {
    position: absolute;
    width:0;
    height:0;
    opacity:0;
    margin:0;
    padding:0;
}


.color-selector span{
    display: block;
    height:1em;
    width:1em;
    margin: 2px;
    border: 2px solid white;
    
}

//merely changes border
.color-selector span:hover {
    margin: 2px;
    border: 2px solid lightgrey;
}

.color-selector input:checked + span{
    border: 2px solid lightgrey;
}

.red-select {
    background-color: tomato;
}

.orange-select {

    background-color: darkorange;
}

.yellow-select {
    background-color: gold;
}

.green-select {
    background-color: olivedrab;
}

.blue-select {
    background-color: steelblue;
}

.purple-select {
    background-color: blueviolet;
}
.tan-select {
    background-color: tan;
}
.white-select {
    background-color: whitesmoke;
    
}
.black-select {
    background-color: black;
}

