.filter{
    background-color: var(--mid-color);
    padding: 1em;
    height: auto;
    box-sizing: border-box;
}

.category .category-title{
    margin:0;
}

.selector-wrapper{
    display: flex; 
    flex-direction: row;

    position: relative;

    margin: .75rem 0;
}

.selector-wrapper input[type="checkbox"]{
    width:0;
    height:0;

    margin:0;

    opacity: 0;
}

// > selector selects all checkmarks whose parent is a selector-wrapper
/* .selector-wrapper:hover > .checkmark::before{
    content: "\2705 ";

    display: flex;
    justify-content: center;
    align-self: center;

    // position: relative;
    // bottom: 0.125rem;
    position: absolute;
    left: 0;

    color: lightgrey;
    font-weight: bold;
}
*/

.checkmark{
    margin-right: .5em; //adds space between checkbox and words
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid rgb(30,30,30);

    width: 1em;
    height: 1em;

    text-decoration: none;

    background-color: white;
}

.newcheckmark{
//    position: absolute;
//    left:0;

   font-size: 0.75em;

   opacity:0;

//    width: 1em;
//    height: 1em;

//    border: 1px solid rgb(30,30,30);

}

//checkmark grey when hovered
.newcheckmark:hover {
    opacity: 0.5;
}

//checkmark icon stays when checked
//+: element immediately after
//> child of previous parent
.selector-wrapper input:checked + .checkmark > .newcheckmark{
    opacity: 1;
}

.selector-wrapper:hover > .swatch-wrapper{
    border: 1px solid grey;
    border-radius: 50%;
}

.swatch-wrapper{
    display: flex;
    justify-content: center;
    align-self: center;

    border: 1px solid lightgoldenrodyellow;
    border-radius: 50%;
}

.swatch-Red{
    
    width: 1.125em;
    height: 1.125em;

    margin: .125em;

    border-radius: 50%;

    background-color: tomato;

}
.swatch-Green{
    
    width: 1.125em;
    height: 1.125em;

    margin: .125em;

    border-radius: 50%;

    background-color: yellowgreen;

}

.swatch-label{
    margin-left:.5em;
    padding-top: .175em; /*1.125+.125*2 - var(--lh)*/
}

