.filter{
    background-color: var(--mid-color);
    padding: 1em;
    height: auto;
    box-sizing: border-box;
}

.category .category-title{
    margin:0;
}

.selector-wrapper{
    display: flex; 
    flex-direction: row;

    position: relative;

    margin: .75rem 0;
}

.selector-wrapper input{
    width:0;
    height:0;

    margin:0;

    opacity: 0;
}



.checkmark{
    margin-right: .5em; //adds space between checkbox and words
    display: flex;
    justify-content: center; //makes container for checkmark symbol to be centered
    align-items: center;
    
    border: 1px solid rgb(30,30,30);

    width: 1em;
    height: 1em;

    text-decoration: none;

    background-color: white;
}

.newcheckmark{
   font-size: 0.75em;
   opacity:0;
}

//checkmark grey when hovered
.newcheckmark:hover {
    opacity: 0.5;
}

//checkmark icon stays when checked
//+: element immediately after
//> child of previous parent
.selector-wrapper input:checked + .checkmark > .newcheckmark{
    opacity: 1;
}

.swatch-wrapper{
    display: flex;
    justify-content: center;
    align-self: center;

    border: 1px solid lightgoldenrodyellow;
    border-radius: 50%;
}

[class*="swatch-"]{
    width: 1.125rem;
    height: 1.125rem;

    border: 1px solid rgba(10,10,10,0);
    border-radius: 50%;
    
    margin-right: .5em; //adds space between checkbox and words
}
//hover
.selector-wrapper:hover > [class*="swatch-"]{
    border: 1px solid grey;
}

//checked
input[type="radio"]:checked + [class*="swatch-"]{
    border: 1px solid grey;
}

[class*="-red"]{
    background-color: tomato;
}
[class*="-orange"]{
    background-color: orange;
}
[class*="-yellow"]{
    background-color: gold;
}
[class*="-green"]{
    background-color: yellowgreen;
}
[class*="-blue"]{
    background-color: blue;
}
[class*="-purple"]{
    background-color: purple;
}
[class*="-tan"]{
    background-color: tan;
}
[class*="-white"]{
    background-color: white;
}
[class*="-black"]{
    background-color: black;
}
[class*="-multi"]{
    background-color: grey;
}

//"blue", "purple", "tan", "white", "black", "multi"
// .swatch-label{
//     margin-left:.5em;
//     padding-top: .175em; /*1.125+.125*2 - var(--lh)*/
// }

