
:root {
    --lh: 1.2em;
}

[class*="col-"]{ /*targets col-filter and col-items*/
    width: 100%;
    box-sizing: border-box;

}
.col-filter{
    margin: 0;
}

.path{
    height: 4em;
    margin: 0 1em;
    background-color: rgb(252, 249, 244);
}

.items{
    display: flex;
    flex-wrap: wrap;
}

.t-item-card{
    width: 50%;

    padding: 1em;
    margin-bottom: 1em;

    box-sizing: border-box;
}



@media only screen and (min-width:768px) {
    .item-layout-cont {
        display: flex;
    }
    .col-filter{
        width: 25%;
        //padding-right: 1em;
    }
    .col-items{
        width: 75%;
    }
    .t-item-card{
        width: 33%;
    }
}

@media only screen and (min-width: 992px) {
    .col-filter{
        width: 20%;
    }
    .col-items{
        width: 80%;
    }
    .t-item-card{
        width: 25%;
    }
}