.selector {
   position: relative;
}

 .selector input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height:0;
    width:0;
 }
/*:checked state*/
 .selector input:checked ~ .checkmark{ 
    display: inline-block;
    background-color: darkslategrey;
 }

 .selector .checkmark {
    display: inline-block;
    float: left;
    width: 1em;
    height:1em;
    background-color: #efefef;
    cursor: pointer;
 }

 .selector label {
    cursor: pointer;
 }

 .selector input:checked ~.checkmark::before{
    content:'\2713';
    position: absolute;
    color:white;
 }
 