.mc-cont{ //horizontal layout
    display: flex;
    --border-test: 1px var(--highlight-color) dashed;
}

.mc-shelf{
    box-sizing: border-box;
    border: var(--border-test);
    overflow-wrap: break-word;
    width: 25rem;

    ul{
        list-style-type: none;
    }
}

.mc-item{ //div holds item contents horizontally
    align-items: center;
    border: var(--border-test);
    display: flex;

    .mc-name{
        padding-left: 0.5rem;
    }
}

.mc-buyer{
    align-items: center;
    border: var(--border-test);
    display: flex;
}

.pm-cont{
    flex-grow: 1;//makes popup-messages fill width of screen
}

.mc-buyers-list{
    margin:0 0 0 0;
}

.mc-want-list{
    margin:0;
    padding:0; //gets rid of list default padding
    
}

