.mc-cont{
    display: flex;
}

.mc-shelf{
    width: 25rem;
    box-sizing: border-box;
    border: 1px var(--highlight-color) dashed;

    overflow-wrap: break-word;
}

.item-on-shelf{
    border: 1px var(--highlight-color) dashed;
    display: flex;
    align-items: center;

    .mc-name{
        padding-left: 0.5rem;
    }
}

.mc-shelf ul{
    list-style-type: none;
}
.pm-cont{
    flex-grow: 1;
    //width: 100%;
}

.item-buyers-cont{
    margin:0 0 0.5rem 0;
}

.individual{
    display: flex;
    align-items: center;
}

.mc-username{
    padding-left: 0.5rem;
}

.mini-img-cont{
    padding: 0.8rem;
    box-sizing: border-box;
}