body {
  margin: 0;
  font-family: 'Helvetica Neue', arial, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  sans-serif, Calibri, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
